/tmp/
/logs/
/data/

/target/
*.class
*.jar
*.war

*.iml
.idea/
*.ipr
*.iws

.project
.classpath
.settings/
eclipse/

.vscode/

nbproject/private/
*.nbattrs

Thumbs.db
.DS_Store
ehthumbs.db
Desktop.ini

*~
#*#

conf/application.conf.local
conf/application.conf.dev